/* Responsive untuk mobile */
@media (max-width: 600px) {
  header {
    padding: 20px 10px;
  }

  h1 {
    font-size: 22px;
  }

  nav a {
    margin: 0 8px;
    font-size: 14px;
  }

  section {
    padding: 20px 10px;
  }

  .projects {
    grid-template-columns: 1fr; /* jadi 1 kolom di hp */
    gap: 15px;
  }

  .card {
    padding: 15px;
  }

  .profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}
}